.git
.idea

df_20210326/node_modules/
app/node_modules/
venv/

.data*/

**/__pycache__
*.pyo
*.pyc

df_20210326/.cache
df_20210326/.pytest_cache
df_20210326/.coverage
df_20210326/coverage
df_20210326/cover/
