DJANGO_SECRET_KEY=secret-key
DJANGO_SITE_URL=http://127.0.0.1:8000
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,django
DJANGO_DATABASE_HOST=postgres
DJANGO_DATABASE_PORT=5432
DJANGO_DATABASE_NAME=df_20210326
DJANGO_DATABASE_USER=df_20210326
DJANGO_DATABASE_PASSWORD=df_20210326
# External container ports for local development. See also DJANGO_SITE_URL
DJANGO_PORT=3000
MAILHOG_PORT=8025
# Core Razzle settings
PORT=8000
HOST=0.0.0.0
# Override this to change exposed IP
# THIS NEEDS TO END WITH SLASH !
CLIENT_PUBLIC_PATH=http://127.0.0.1:8001/
REACT_BUNDLE_PATH=/static/js/vendors.js

# Site URL settings
RAZZLE_SITE_URL=http://127.0.0.1:8000
RAZZLE_BACKEND_SITE_URL=http://127.0.0.1:3000
RAZZLE_INTERNAL_BACKEND_SITE_URL=http://django

RAZZLE_SENTRY_ENVIRONMENT=
RAZZLE_SENTRY_DSN=
